<h4><%= t('blacklight.welcome') %></h4>
<p>&nbsp;</p>
<p>Welcome to the Russian Flu</p>
<% #=image_tag("lagrippe.jpg", :width => 650, :height => 310) -%>

<%=image_tag("LePetit2.jpg", :width => 650, :height => 310)%>




<p>This project explores the relationship between the spread of disease and the spread of information during the "Russian Flu" epidemic, 1889-1890.
The research will be done by a team of Virginia Tech undergraduates working in collaboration with a historian.
This site will provide updates on the project, resources, and findings.</p>
<p>Check out our Blog!</p>
<%= link_to "Russian Flu Blog", "http://www.russianflu.wordpress.com",:target => "_blank" %>
<p><h3>Multimedia</h3></p>
<%= image_tag("timelineIcon.png") %>
<%= link_to "Timeline", "http://russianflu.lib.vt.edu/timeline.html", :target => "_blank" %><br />
<%= image_tag("mapIcon.png") %>
<%= link_to "Overall Flu Spread MAP", "http://russianflu.lib.vt.edu/map/index.html", :target => "_blank" %>
<% #Creates a bit space in the page -%>
